<mat-drawer-container class="example-container" autosize>
    <!-- MENU IZQUIERDA -->
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <mat-nav-list>
        <a routerLink="inicio" routerLinkActive #inicioLink="routerLinkActive" [activated]="inicioLink.isActive" mat-list-item> Inicio</a>
        <a routerLink="usuarios" routerLinkActive #alumnosLink="routerLinkActive" [activated]="alumnosLink.isActive" mat-list-item>
          @if( (authUsuario$ | async)?.rol == 'ADMIN'){Usuarios}
          @else {Alumnos}
        </a>
        <a routerLink="cursos" routerLinkActive #cursosLink="routerLinkActive" [activated]="cursosLink.isActive" mat-list-item>Cursos</a>
        <a routerLink="clases" routerLinkActive #clasesLink="routerLinkActive" [activated]="clasesLink.isActive" mat-list-item>Clases</a>
        <a routerLink="inscripciones" routerLinkActive #inscripcionesLink="routerLinkActive" [activated]="inscripcionesLink.isActive" mat-list-item>Inscripciones</a>
        <a (click)="logout()" mat-list-item>Cerrar Sesion</a>
      </mat-nav-list>
    </mat-drawer>
  
    <!-- CONTENIDO PRINCIPAL -->
    <div class="example-sidenav-content">
        <!-- TOOLBAR -->
        <mat-toolbar class="menu-principal">
            <div class="d-flex justify-content-between align-items-center w-100 h-100">
              <div>
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
                  <mat-icon>menu</mat-icon>
                </button>
                <span>Mi Aplicacion</span>
              </div>
            </div>
            <div *ngIf="authUsuario$ | async; let authUsuario" class="nombre-usuario">
              <p>{{ authUsuario.nombre }} {{ authUsuario.apellido }}</p>
            </div>
        </mat-toolbar>

        <router-outlet/>
    </div>
</mat-drawer-container>
