.example-container {
    width: 100%;
    height: 100%;
  }
  
  .example-sidenav-content {
    height: 100%;
    padding: 20px;
  }
  
  .example-sidenav {
    padding: 20px;
    width: 200px;
    background-color: #00a3a1;
  }

  .menu-principal{
    background-color: #1cdcd9;
  }