<form [formGroup]="inscripcionForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <mat-label>Curso</mat-label>
        <mat-select formControlName="idCurso">
            <mat-option [value]="curso.id" *ngFor="let curso of cursosOptions$ | async">
                {{ curso.nombre }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Alumno</mat-label>
        <mat-select formControlName="idUsuario">
            <mat-option [value]="usuario.id" *ngFor="let usuario of usuariosOptions$ | async">
                {{ usuario.nombre }} {{ usuario.apellido }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button type="submit" mat-flat-button>Inscribir</button>
</form>

@if(estaCargandoInscripciones$ | async){
    <mat-spinner></mat-spinner>
}
@else {
    @if(cargarInscripcinesError$ | async; as error){
        <h2>Ocurrio un error al cargar</h2>
        <p>{{ error['message'] }}</p>
        <pre>{{ inscripciones$ | async |json}}</pre>
    }
    @else {
        <pre>{{ inscripciones$ | async |json}}</pre>
    }
}





